/* Global styles */
* {
  font-family: 'DM Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
}

.App {
  text-align: center;
}

/* Top Bars */
.navbar {
  width: 100%;
  height: 35px;
  background-color: rgba(223, 22, 65, 0.9);
}

/* Sports Section */
.top-bar1 {
  width: 60px;
  height: 60px;
  background-color: rgba(0, 191, 99, 0.9);
  top: 0;
  left: 0;
  z-index: 1000;
}
.top-bar2 {
  width: 250px;
  height: 60px;
  background-color: rgba(0, 191, 99, 0.9);
  top: 60px;
  margin-left: 60px;
  z-index: 1000;
  text-align: center;
  display: flex;
  justify-content: center; /* Centrer horizontalement */
  align-items: center; /* Centrer verticalement */
}

.contact-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
}

/* Section des coordonnées */
.contact-info {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 40px;
}

.info-box {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.info-icon {
  width: 50px; /* Ajustez la taille de vos images */
  height: 50px;
  margin-right: 15px;
}

.info-box p {
  margin: 0;
  font-size: 1.1em;
  color: #333;
}